.line{
    background-color: rgb(185, 185, 185);
    color: #ffffff;
    margin:5px 0 10px 0;
    padding: 5px;
    font-size: 18px;

}
.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0 auto 0 auto;
    width: 840px;
}

.item {
    font-size: 15px;
    margin: 0 60px 0 0 ;
    width: 220px;
    color: rgb(161, 120, 67);
}

img {
    width: 250px;
    border: 1px solid rgba(102, 102, 102, 0.226);
}

.item :last-child {
    padding-bottom: 70px;

}

.fo {
    color: rgb(102, 102, 102);
    font-size: 11px;
}